{% extends 'base.html' %}

{% block titulo %}
Oficinas | {{ block.super }}
{% endblock titulo %}

{% block main %}



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col" colspan='2'>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for oficina in oficinas %}
        <tr>
            <th scope="row">{{ oficina.id }}</th>
            <td>{{ oficina.nome }}</td>
            <td>{{ oficina.cnpj }}</td>
            <td>{{ oficina.telefone }}</td>
            <td>
                <a class="btn btn-outline-info btn-sm" href=""><i class="fa-solid fa-arrow-rotate-right"></i></a>
                <a class="btn btn-outline-danger btn-sm" href=""><i class="fa-regular fa-trash-can"></i></a>
            </td>
        

        </tr>
        {% endfor %}
    </tbody>
    
</table>
<a class="btn btn-primary" href="{% url 'geral:nova_oficina' %}"><i class="fa-solid fa-plus"></i> Nova</a>

{% endblock main %}